<div class="container">
  <div class="row pt-1">
    <h1 class="col-5 col-md-8 col-xl-9"><%= I18n.t('views.headers.tasks') %></h1>

    <div class="col-7 col-md-4 col-xl-3">
      <%= link_to I18n.t('helpers.links.new_reminder'), new_reminder_path, class: 'btn btn-primary btn-lg text-white text-decoration-none' %>
    </div>
  </div>

	<div class="row">
		<div class="col-12 col-md-6 table-responsive">
			<h4><%= I18n.t('activerecord.models.reminder.other') %></h4>
		  <table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"><%= I18n.t('activerecord.attributes.reminders.title') %></th>
						<th scope="col"><%= I18n.t('activerecord.attributes.reminders.text') %></th>
						<th scope="col"><%= I18n.t('activerecord.attributes.reminders.due_date')%></th>
						<th scope="col"><%= I18n.t('activerecord.attributes.reminders.done') %></th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody>
					<% @reminders.order(due_date: :asc).each do |reminder| %>
						<tr>
							<td><%= reminder.title %></td>
							<td><%= reminder.text.truncate(50, omission: '... (+)') %></td>
							<td><%= I18n.l(reminder.due_date, format: :short) %></td>
							<td><%= checkbox(reminder.done) %></td>
							<td>
								<%= link_to(image_tag("icon_show.svg", size:"23x23", alt: I18n.t('helpers.buttons.show'), data: {title: I18n.t('helpers.buttons.show')}), reminder_path(reminder), class: 'btn btn-info') %>
							</td>
							<td>
								<%= link_to(image_tag("icon_edit.svg", size: "23x23", alt: I18n.t('helpers.buttons.edit'), data: {title: I18n.t('helpers.buttons.edit')}), edit_reminder_path(reminder), class: 'btn btn-primary')%>
							</td>
							<td>
								<%= button_to(image_tag("icon_delete.svg", size: "23x23", alt: I18n.t('helpers.buttons.destroy'), data: {title: I18n.t('helpers.buttons.destroy')}), reminder, class: 'btn btn-danger' , method: :delete, data: { turbo_method: :delete, turbo_confirm: I18n.t('helpers.buttons.are_you_sure')})%>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>


		<div class="col-12 col-md-6">
			<h4><%= I18n.t('views.headers.system_alerts') %></h4>
		
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col"><%= I18n.t('activerecord.attributes.notifications.title') %></th>
							<th scope="col"><%= I18n.t('activerecord.attributes.notifications.text') %></th>
							<th scope="col"> </th>
						</tr>
					</thead>

					<tbody>
						<% @notifications.order(created_at: :desc).each do |notification| %>
							<tr>
								<td><%= notification.title %></td>
								<td><%= notification.text  %></td>
								<td>
									<%= button_to(image_tag("icon_delete.svg", size: "23x23", alt: I18n.t('helpers.buttons.destroy'), data: {title: I18n.t('helpers.buttons.destroy')}), notification, class: 'btn btn-danger' , method: :delete, data: { turbo_method: :delete })%>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%= paginate @notifications %>
	<br>
</div>