<div class="container-fluid ">

	<div class="card border-primary mb-3 col-12 col-lg-6 col-xl-5">
		<div class='card-header'>
			<%= I18n.t('activerecord.models.reminder.one') %>
		</div>
		<div class='card-body'>
			<div class='card-title'>
				<h4><%= @reminder.title %></h4>
			</div>
			<p class='card-text'><%= @reminder.text %></p>
			<p class='card-text'><%= I18n.t('activerecord.attributes.reminders.due_date') %>:
				<%= I18n.l(@reminder.due_date, format: :short) %></p>
			<p class='card-text'><%= I18n.t('activerecord.attributes.reminders.done')%> <%=checkbox(@reminder.done) %></p>
		</div>
	</div>

	<div class='row'>
		<div class='col-8 col-md-10 col-lg-5 col-xl-4'>
			<%= link_to I18n.t('helpers.buttons.back'), reminders_path, class:'btn btn-outline-primary text-decoration-none' %>
		</div>
		<div class='col-2'>
			<%= link_to I18n.t('helpers.buttons.edit'), edit_reminder_path(@reminder), class:'btn btn-primary text-white text-decoration-none' %>
		</div>
	</div>

</div>