<div class="container">
  <div class="row pt-1">
    <h1 class="col-5 col-md-8 col-xl-10"><%= I18n.t('activerecord.models.outflow.other') %></h1>
    
    <div class="col-7 col-md-4 col-xl-2">
      <button type="button" class="btn btn-primary btn-lg"><%= link_to I18n.t('helpers.links.new_outflow'), new_outflow_path, class: 'text-white text-decoration-none' %></button>
    </div>
  </div>

  <div class="row d-flex py-2">
    <%= simple_form_for(:outflow, html: {}, url: outflows_path, method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="col-12 col-md-3 d-inline-block px-2">
        <h5><%= I18n.t('helpers.search.by_date') %></h5>
      </div>
      <div class="col-12 col-md-3 d-inline-block px-2">
        <%= f.input :created_at_from, id: 'created_at_from', placeholder: I18n.t('helpers.search.from'), label: false %>
      </div>
      <div class="col-12 col-md-3 d-inline-block px-2">
        <%= f.input :created_at_to, id: 'created_at_to', placeholder: I18n.t('helpers.search.to'), label: false %>
      </div>
      <div class="col-12 col-md-2 d-inline-block px-2">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>

  <div class="d-none d-lg-block row table-responsive" >
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.total') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.paid') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.payment_method') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.notes') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.supplier_id') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.items') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.created_at') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.outflows.last_updated') %></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @outflows.each do |outflow| %>
          <tr>
            <td><%= number_to_currency(outflow.total) %></td>
            <td><%= number_to_currency(outflow.paid) %></td>
            <td><%= outflow.payment_method.capitalize %></td>
            <td><%= outflow.notes %></td>
            <td><%= outflow.supplier.name %></td>
            <td><% outflow.items.each do |item| %>
                  <span class='badge bg-primary'><%= item.list %></span>
                <% end %>
            </td>
            <td><%= I18n.l(outflow.created_at, format: :short) %></td>
            <td><%= I18n.l(outflow.updated_at, format: :short) %></td>
            <td>
              <%= link_to(image_tag("icon_show.svg", size:"23x23", data: {title: I18n.t('helpers.buttons.show')}), outflow_path(outflow), class: 'btn btn-info') %>
            </td>
            <td>
              <%= link_to(image_tag("icon_edit.svg", size: "23x23", data: {title: I18n.t('helpers.buttons.edit')} ), edit_outflow_path(outflow), class: 'btn btn-primary') %>
            </td>
            <td>
              <%= button_to(image_tag("icon_delete.svg", size: "23x23", data: {title: I18n.t('helpers.buttons.destroy')}), outflow, class: 'btn btn-danger', method: :delete, data: { turbo_method: :delete, turbo_confirm: I18n.t('helpers.buttons.are_you_sure') })%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-block d-lg-none">
    <% @outflows.each do |outflow| %>
      <div class='card border-info my-2 w-100'>
        <div class='card-body'>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%=  I18n.t('activerecord.attributes.outflows.total')%>:
            </div>
            <div class="col-6 fw-bold">
              <%= number_to_currency(outflow.total) %>
            </div>
          </div>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%= I18n.t('activerecord.attributes.outflows.paid') %>:
            </div>
            <div class="col-6 fw-bold">
              <%= number_to_currency(outflow.paid) %> 
            </div>
          </div>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%= I18n.t('activerecord.attributes.outflows.supplier_id') %>:
            </div>
            <div class="col-6 fw-bold">
              <%= outflow.supplier.name %>
            </div>
          </div>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%= I18n.t('activerecord.attributes.outflows.payment_method') %>:
            </div>
            <div class="col-6 fw-bold">
              <%= outflow.payment_method.capitalize %>
            </div>
          </div>
          
          
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%= I18n.t('activerecord.attributes.outflows.created_at') %>: 
            </div>
            <div class="col-6 fst-italic">
              <%= I18n.l(outflow.created_at, format: :short) %>
            </div>
          </div>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-6 text-decoration-underline">
              <%= I18n.t('activerecord.attributes.outflows.last_updated') %>: 
            </div>
            <div class="col-6 fst-italic">
              <%= I18n.l(outflow.updated_at, format: :short) %>
            </div>
          </div>
          
          <div class="p-2 m-1 bg-secondary rounded">
            <div class='row p-2'>
              <div class="col-12">
                <span class="text-decoration-underline"><%= I18n.t('activerecord.attributes.outflows.items') %>:</span>
                <% outflow.items.each do |item| %>
                  <span class='badge bg-primary'><%= item.list %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class='row p-2 m-1 bg-secondary rounded'>
            <div class="col-12">
              <span class='text-decoration-underline'><%= I18n.t('activerecord.attributes.outflows.notes') %>:</span> 
              <span class="fst-italic"><%= outflow.notes %></span>
            </div>
          </div>
          <div class="row"> 
            <div class="col-4 d-flex justify-content-center">
              <%= link_to(image_tag("icon_show.svg", size:"23x23", data: {title: I18n.t('helpers.buttons.show')}), outflow_path(outflow), class: 'btn btn-info') %>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <%= link_to(image_tag("icon_edit.svg", size: "23x23", data: {title: I18n.t('helpers.buttons.edit')} ) , edit_outflow_path(outflow), class: 'btn btn-primary') %>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <%= button_to(image_tag("icon_delete.svg", size: "23x23", data: {title: I18n.t('helpers.buttons.destroy')}), outflow, class: 'btn btn-danger', method: :delete, data: { turbo_method: :delete, turbo_confirm: I18n.t('helpers.buttons.are_you_sure') })%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <br>
  <%= paginate @outflows %>
  <br>
</div>

<!--script>
  $( function() {
    $( "#outflow_created_at_from" ).datepicker();
    $( "#outflow_created_at_to" ).datepicker();
  } );
</script-->