<div class='row'>
  <div class='col-12 col-md-5 col-lg-7'>
    <h1><%= I18n.t('views.headers.pages.statistics') %></h1>
  </div>
  
  <div class="row d-flex justify-content-sm-evenly col-12 col-md-7 col-lg-5" >
    <%= simple_form_for(:pages, html: {}, url: statistics_path , method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="col-4 col-md-4 d-inline-block">
        <%= f.input :date_from, placeholder: I18n.t('helpers.search.from'), label: false %>
      </div>
      <div class="col-4 col-md-4 d-inline-block">
        <%= f.input :date_to, placeholder: I18n.t('helpers.search.to'), label: false %>
      </div>
      <div class="col-3 col-md-3 d-inline-block">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>


<div class='row'>
  <div class='col-12 col-lg-6 mb-2'>
    <div class='card text-white bg-success mb-2 '>
      <div class='card-body d-flex justify-content-center'>
        <h3 class='card-title'><%= I18n.t('views.body.pages.statistics.gross_income') %>: <%= number_to_currency(@statistics[:gross_income]) %></h3>
      </div>
    </div>
  
    <div class='card border-success'>
      <div class='card-body'>
        <h3 class='text-black'><%= I18n.t('views.body.pages.statistics.sales_per_product') %></h3>
        
        <div class='table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr class='table-success'>
                <th scope="col"><%= I18n.t('activerecord.models.product.one') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.quantity') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.total') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @products.each do |product| %>
                <tr class='table-success'>
                  <td><%= product.name %></td>
                  <td><%= trim_zeroes(product.units_sold) %>  <%= product.unit %></td>
                  <td><%= number_to_currency(product.sales_total) %></td>
                  <td><%= trim_zeroes(percent_of(product.sales_total, @statistics[:gross_income]).round(2)) %>%</td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class='col-12 col-lg-6 mb-2'>
    <div class='card text-white bg-danger mb-2 '>
      <div class='card-body d-flex justify-content-center'>
        <h3 class='card-title'><%= I18n.t('views.body.pages.statistics.total_expenses') %>: <%= number_to_currency(@statistics[:total_expenses])%></h3>
      </div>
    </div>
  
    <div class='card border-danger'>
      <div class='card-body'>
        <h3 class='text-black'><%= I18n.t('views.body.pages.statistics.exp_per_supplier') %></h3>
        
        <div class='table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr class='table-danger'>
                <th scope="col"><%= I18n.t('activerecord.models.supplier.one') %></th>
                <th scope="col"><%= I18n.t('activerecord.attributes.outflows.total') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @suppliers.each do |supplier| %>
                <% supplier_total = supplier.outflows.sum('total') %>
                <tr class='table-danger'>
                  <td><%= supplier.name %></td>
                  <td><%= number_to_currency(supplier_total) %></td>
                  <td><%= trim_zeroes(percent_of(supplier_total, @statistics[:total_expenses]).round(2)) %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='row'>
  <div class='col-12 col-lg-6 mb-2'>
    <div class='card border-danger'>
      <div class='card-body'>
        <% total_op_ex = total_operative_expenses(@statistics[:operative_expenses]) %>  
        <h3 class='text-black'><%= I18n.t('views.body.pages.statistics.total_operative_expenses') %>: <%= number_to_currency(total_op_ex) %></h3>
        
        <div class='table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr class='table-danger'>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.supply_name') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.supplier_name') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.supplier_op_ex') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @statistics[:op_ex_by_supplier].each do |op_ex| %>
                <tr class='table-danger'>
                  <td><%= op_ex[:supply_name] %></td>
                  <td><%= op_ex[:supplier_name] %></td>
                  <td><%= number_to_currency(op_ex[:expenses]) %></td>
                  <td><%= trim_zeroes(percent_of(op_ex[:expenses],total_op_ex).round(2)) %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='col-12 col-lg-6 mb-2'>  
    <div class='card border-danger'>
      <div class='card-body'>
        <h3 class='text-black'><%= I18n.t('views.body.pages.statistics.total_cogs') %>: <%= number_to_currency(total_cogs(@statistics[:consumables])) %></h3>
        
        <div class='table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr class='table-danger'>
                <th scope="col"><%= I18n.t('activerecord.models.supply.one') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.quantity') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.total') %></th>
                <th scope="col"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @statistics[:consumables].each do |consumable| %>
                <tr class='table-danger'>
                  <td><%= consumable.name %></td>
                  <td><%= trim_zeroes(consumable.units_bought) %>  <%= consumable.unit %></td>
                  <td><%= number_to_currency(consumable_total(consumable)) %></td>
                  <td><%= trim_zeroes(percent_of(consumable_total(consumable), total_cogs(@statistics[:consumables])).round(2)) %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row d-flex justify-content-center mb-3'>
  <div class='card bg-info mb-2 col-11 col-md-9 col-lg-6'>
    <div class='card-body d-flex justify-content-center'>
      <h3 class='card-title text-black'><%= I18n.t('views.body.pages.statistics.balance') %>:  <%= number_to_currency(@statistics[:balance]) %></h3>
    </div>
  </div>
</div>