<div>
  <div class="fields p-2">
    <fieldset>
      <div id="item-0" class="row py-2">
        <div class="quantity-0 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_0_quantity',
            name: 'inflow[inflow_items_attributes][0][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="product-id-0 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products, 
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_0_product_id',
            name: 'inflow[inflow_items_attributes][0][product_id]'
            } %>
        </div>
        <div  id="subtotal-0" class='col-12 col-md-2 align-content-center' >
          subtotal 0
        </div>
      </div>

      <div id="item-1" class="row py-2">
        <div class="field quantity-1 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_1_quantity',
            name: 'inflow[inflow_items_attributes][1][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-1 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_1_product_id',
            name: 'inflow[inflow_items_attributes][1][product_id]'
            } %>
        </div>
        <div id="subtotal-1" class='col-12 col-md-2 align-content-center'>
          subtotal 1
        </div>
      </div>

      <div id="item-2" class="row py-2">
        <div class="field quantity-2 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_2_quantity',
            name: 'inflow[inflow_items_attributes][2][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-2 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_2_product_id',
            name: 'inflow[inflow_items_attributes][2][product_id]'
            } %>
        </div>
        <div id="subtotal-2" class='col-12 col-md-2 align-content-center'>
          subtotal 2
        </div>
      </div>

      <div id="item-3" class="row py-2">
        <div class="field quantity-3 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_3_quantity',
            name: 'inflow[inflow_items_attributes][3][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-3 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_3_product_id',
            name: 'inflow[inflow_items_attributes][3][product_id]'
            } %>
        </div>
        <div id="subtotal-3" class='col-12 col-md-2 align-content-center'>
          subtotal 3
        </div>
      </div>

      <div id="item-4" class="row py-2">
        <div class="field quantity-4 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_4_quantity',
            name: 'inflow[inflow_items_attributes][4][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-4 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_4_product_id',
            name: 'inflow[inflow_items_attributes][4][product_id]'
            } %>
        </div>
        <div id="subtotal-4" class='col-12 col-md-2 align-content-center'>
          subtotal 4
        </div>
      </div>

      <div id="item-5" class="row py-2">
        <div class="field quantity-5 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_5_quantity',
            name: 'inflow[inflow_items_attributes][5][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-5 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_5_product_id',
            name: 'inflow[inflow_items_attributes][5][product_id]'
            } %>
        </div>
        <div id="subtotal-5" class='col-12 col-md-2 align-content-center'>
          subtotal 5
        </div>
      </div>

      <div id="item-6" class="row py-2">
        <div class="field quantity-6 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_6_quantity',
            name: 'inflow[inflow_items_attributes][6][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-6 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_6_product_id',
            name: 'inflow[inflow_items_attributes][6][product_id]'
            } %>
        </div>
        <div id="subtotal-6" class='col-12 col-md-2 align-content-center'>
          subtotal 6
        </div>
      </div>

      <div id="item-7" class="row py-2">
        <div class="field quantity-7 col-12 col-md-5">
          <%= builder.input :quantity, label: false, input_html: {
            id: 'inflow_inflow_items_attributes_7_quantity',
            name: 'inflow[inflow_items_attributes][7][quantity]', 
            placeholder: I18n.t('activerecord.attributes.inflow_items.quantity')
            } %>
        </div>
        <div class="field product-id-7 col-12 col-md-5">
          <%= builder.input :product_id, label: false, collection: @products,
            prompt: I18n.t('activerecord.attributes.inflow_items.product_id'), input_html: {
            id: 'inflow_inflow_items_attributes_7_product_id',
            name: 'inflow[inflow_items_attributes][7][product_id]'
            } %>
        </div>
        <div id="subtotal-7" class='col-12 col-md-2 align-content-center'>
          subtotal 7
        </div>
      </div>
    </fieldset>
  </div>
</div>