<div class="row pt-1">
  <h1 class="col-12 col-lg-3 col-xl-5"><%= I18n.t('activerecord.models.inflow.other') %></h1>
  <div class="col-12 col-md-8 col-lg-5 col-xl-4">
    <%= simple_form_for(:inflow, url: inflows_path, method: :get) do |f| %>
      <%= f.error_notification %>
      <div class="col-8 col-md-6 col-xl-10 d-inline-block">
        <%= f.input :payment_method, collection: [
            [ I18n.t('views.body.payment_method.cash'), 0], 
            [ I18n.t('views.body.payment_method.debit'), 1], 
            [ I18n.t('views.body.payment_method.credit'), 2], 
            [ I18n.t('views.body.payment_method.electronic_wallet'), 3]], 
            selected: 0, label: false %>
      </div>
      <div class="col-3 col-md-2 col-xl-1 d-inline-block">
        <%= f.button :submit, I18n.t('helpers.buttons.search'), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
  <div class="col-7 col-md-4 col-lg-3 col-xl-2">
    <%= link_to I18n.t('helpers.links.new_inflow'), new_inflow_path, class: 'btn btn-primary btn-lg text-white text-decoration-none' %>
  </div>
</div>

<!-- The table displays only on lg and larger viewports; for md and smaller devices, the index is presented as a list of cards -->

<div class="d-none d-lg-block row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('activerecord.attributes.inflow.total') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.inflow.payment_method') %></th>
        <th scope="col"><%= I18n.t('views.body.index.items') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.inflow.created_at') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.inflow.last_updated') %></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @inflows.each do |inflow| %>
        <tr>
          <td><%= number_to_regional_currency(inflow.total) %></td>
          <td><%= inflow.payment_method.capitalize %></td>
          <td>
            <% inflow.items.each do |item| %>
              <span class='badge bg-primary'><%= item.list %></span>
            <% end %>
          </td>
          <td><%= I18n.l(inflow.created_at, format: :short) %></td>
          <td><%= I18n.l(inflow.updated_at, format: :short) %></td>
          <td>
              <%= link_to(image_tag("icon_add.svg", size: "23x23", alt: I18n.t('helpers.buttons.expand'), data: {title: I18n.t('helpers.buttons.expand')} ), expand_inflows_path(inflow), class: 'btn btn-success') %>
          </td>
          <td>
              <%= link_to(image_tag("icon_show.svg", size:"23x23", alt: I18n.t('helpers.buttons.show'), data: {title: I18n.t('helpers.buttons.show')}), inflow_path(inflow), class: 'btn btn-info') %>
          </td>
          <td>
              <%= link_to(image_tag("icon_edit.svg", size: "23x23", alt: I18n.t('helpers.buttons.edit'), data: {title: I18n.t('helpers.buttons.edit')}), edit_inflow_path(inflow), class: 'btn btn-primary') %>
          </td>
          <td>
            <%= button_to(image_tag("icon_delete.svg", size: "23x23", alt: I18n.t('helpers.buttons.destroy'), data: {title: I18n.t('helpers.buttons.destroy')}), inflow, class: 'btn btn-danger' , method: :delete, data: { turbo_method: :delete, turbo_confirm: I18n.t('helpers.buttons.are_you_sure')})%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='d-block d-lg-none'>
  <% @inflows.each do |inflow| %>
    <div class='card border-info my-2 w-100'>
      <div class='card-body'>
        <div class='row p-2 m-1 bg-secondary rounded'>
          <div class='col-6 fw-bold'>
            <%= number_to_regional_currency(inflow.total) %> 
          </div>
          <div class='col-6'>
            <%= inflow.payment_method.capitalize %>
          </div>
        </div>
        <div class='row p-2 m-1 bg-secondary rounded'>
          <div class='col-12'>
            <% inflow.items.each do |item| %>
              <span class='badge bg-primary'><%= item.list %></span>
            <% end %>
          </div>
        </div>
        <div class='row p-2 m-1 bg-secondary rounded fst-italic'>
          <div class="col-6 text-decoration-underline">
            <span class='text-primary-emphasis'><%= I18n.t('activerecord.attributes.inflow.created_at') %>:</span> 
          </div>
          <div class="col-6 fst-italic">
            <%= I18n.l(inflow.created_at, format: :short) %>
          </div>
        </div>
        <div class='row p-2 m-1 bg-secondary rounded fst-italic'>
          <div class="col-6 text-decoration-underline">
            <span class='text-primary-emphasis'><%= I18n.t('activerecord.attributes.inflow.last_updated') %>:</span> 
          </div>
          <div class="col-6 fst-italic">
            <%= I18n.l(inflow.updated_at, format: :short) %>
          </div>
        </div>
        <div class='row py-1'>
          <div class='col-3 d-flex justify-content-center'>
            <%= link_to(image_tag("icon_add.svg", size: "23x23", alt: I18n.t('helpers.buttons.expand'), data: {title: I18n.t('helpers.buttons.expand')} ), expand_inflows_path(inflow), class: 'btn btn-success') %>

          </div>
          <div class='col-3 d-flex justify-content-center'>
            <%= link_to(image_tag("icon_show.svg", size:"23x23", alt: I18n.t('helpers.buttons.show'), data: {title: I18n.t('helpers.buttons.show')}), inflow_path(inflow), class: 'btn btn-info') %>
          </div>
          <div class='col-3 d-flex justify-content-center'>
            <%= link_to(image_tag("icon_edit.svg", size: "23x23", alt: I18n.t('helpers.buttons.edit'), data: {title: I18n.t('helpers.buttons.edit')}), edit_inflow_path(inflow), class: 'btn btn-primary') %>
          </div>
          <div class='col-3 d-flex justify-content-center'>
            <%= button_to(image_tag("icon_delete.svg", size: "23x23", alt: I18n.t('helpers.buttons.destroy'), data: {title: I18n.t('helpers.buttons.destroy')}), inflow, class: 'btn btn-danger' , method: :delete, data: { turbo_method: :delete, turbo_confirm: I18n.t('helpers.buttons.are_you_sure')})%>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
</div>

<%= paginate @inflows %>