<div class='row'>
  <div class='card border-primary m-3 col-11 col-md-8 col-lg-6 m-1 bg-light'>
    <div class='card-header text-secondary-emphasis'>
      <%= ENV['RECEIPT_MESSAGE'] %>
    </div>
    <div class='card-body'>
      <div class='row'>
        <h2><%= ENV['COMPANY_NAME'] %></h2>
        <div class='row'>
          <p class='card-text col-12'><%= ENV['COMPANY_ADDRESS'] %></p>
          <p class='card-text col-12 col-md-6 col-xl-4'><%= ENV['COMPANY_OWNER'] %></p>
          <p class='card-text col-12 col-md-6 col-xl-4'><%= ENV['COMPANY_OWNER_CUIT'] %></p>
          <p class='card-text col-12 col-xl-4'><%= ENV['COMPANY_PHONE'] %></p>
          <p class='card-text'><%= I18n.l(@inflow.created_at, format: :default) %></p>
        </div>
      </div>

      <hr>
      <div class='row table-responsive-sm'>
        <table class='table table-borderless table-sm'>
          <thead>
            <th scope='col'><%= I18n.t('activerecord.attributes.inflow_item.product_id') %></th>
            <th scope='col'><%= I18n.t('activerecord.attributes.inflow_item.quantity') %></th>
            <th scope='col'><%= I18n.t('activerecord.attributes.product.price') %></th>
            <th scope='col'><%= I18n.t('views.body.show.subtotal') %></th>
          </thead>
          <tbody>
            <% @inflow.items.each do |item| %>
              <tr>
                <td><%= item.product.name %></td>
                <td><%= trim_zeroes(item.quantity) %> <%= item.product.unit %></td>
                <td><%= number_to_regional_currency(item.product.price) %></td>
                <td><%= number_to_regional_currency(item.subtotal) %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td class='fs-5 text-decoration-underline'><strong><%= I18n.t('activerecord.attributes.inflow.total') %>:</strong></td>
              <td class='fs-5 text-decoration-underline'><strong><%= number_to_regional_currency(@inflow.total) %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class='row'>
        <div class='col-12 d-sm-flex justify-content-center'>
          <h4 class='card-text text-primary-emphasis'><%= ENV['PURCHASE_MESSAGE'] %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-12'>
    <%= link_to I18n.t('helpers.buttons.back'), inflows_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')}, class:'btn btn-outline-primary text-decoration-none' %>
  </div>
</div>