<div class='mx-1'>
  <h1><%= @product.name %></h1>

  <div class='row m-1'>
    <div class='row col-12 col-lg-3 col-xl-3'>
      <div class='col-7 text-primary fs-5 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.products.price') %>: 
      </div>
      <div class='col-5 align-content-center'><%= @product.price %></div>
    </div>
    <div class='row col-12 col-lg-3 col-xl-3'>
      <div class='col-7 text-primary fs-5 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.products.stock') %>: 
      </div>
      <div class='col-5 align-content-center'><%= @product.stock %> <%= @product.unit.capitalize %></div>
    </div>
    <div class='row col-12 col-lg-6 col-xl-6'>
      <div class='col-7 text-primary fs-5 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.products.notification_threshold') %>: 
      </div>
      <div class='col-5 align-content-center'><%= @product.notification_threshold %> <%= @product.unit.capitalize %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class='col-7 col-lg-7 col-xl-3'>
      <button type="button" class='btn btn-outline-primary'>
        <%= link_to I18n.t('helpers.buttons.back'), products_path, class:'text-decoration-none' %>
      </button>
    </div>
    
    <div class='col-2'>
      <button type="button" class='btn btn-primary'>
        <%= link_to I18n.t('helpers.buttons.edit'), edit_product_path(@product), class:'text-white text-decoration-none'%>
      </button>
    </div>
  </div>

  <h4 class='my-3'><%= I18n.t('views.body.show.history') %></h4>

  <div class='table-responsive row col-12 col-lg-8 mx-1'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th scope="col"><%= I18n.t('activerecord.models.inflow.other') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.inflow_items.quantity') %></th>
          <th scope="col"><%= I18n.t('activerecord.attributes.inflows.total') %></th>
        </tr>
      </thead>
    
      <tbody>
        <% @transactions.each do |item| %>
          <tr>
            <td><%= I18n.l(item.created_at, format: :long) %></td>
            <td><%= trim_zeroes(item.quantity) %>  <%= item.product.unit %></td>
            <td><%= number_to_currency(item.quantity * item.product.price) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @transactions %>
</div>