<div>
  <fieldset class='row m-2'>
    <%= simple_form_for(@supplier, html: {}) do |f| %>
      <div>
        <%= f.error_notification %>
        <div class="row col-12 col-lg-6">
          <%= f.input :name, label: I18n.t('activerecord.attributes.suppliers.name')  %>
        </div>
        <div class="row col-12 col-lg-6">
          <%= f.input :phone_number, label: I18n.t('activerecord.attributes.suppliers.phone_number') %>
        </div>
        <div class="row col-12 col-lg-6">
          <%= f.input :email, label: I18n.t('activerecord.attributes.suppliers.email') %>
        </div>
        <div class="row col-12 col-lg-6">
          <%= f.input :account_balance, label: I18n.t('activerecord.attributes.suppliers.account_balance') %>
        </div>
        <div class="row col-12 col-lg-6">
          <%= f.input :notification_threshold, label: I18n.t('activerecord.attributes.suppliers.notification_threshold') %>
        </div>
        <div class="row col-12 col-lg-6">
          <%= f.input :notes, label: I18n.t('activerecord.attributes.suppliers.notes') %>
        </div>
      </div>

      <div class='row mb-4 mt-1'>
				<div class='col-5 col-md-9 col-lg-4'>
					<%= link_to I18n.t('helpers.buttons.back'), suppliers_path, data: { turbo_method: :get, turbo_confirm: I18n.t('helpers.buttons.are_you_sure')}, class:'btn btn-outline-primary text-decoration-none' %>
				</div>
				<div class='col-3'>
					<%= f.button :submit, class:'btn btn-primary' %>
				</div>
			</div>
    <% end %>
  </fieldset>
</div>
