<div class="mx-1">
  <h1><%= @supplier.name %></h1>
  
  <div class='row mb-3 mt-1'>
    <div class='row col-12 col-xl-6'>
      <div class='col-6 col-md-4 col-lg-3 col-xl-4 text-primary fs-6 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.suppliers.phone_number') %>:
      </div> 
      <div class='col-6 align-content-center'><%= @supplier.phone_number %></div>
    </div>
    <div class='row col-12 col-xl-6'>
      <div class='col-6 col-md-4 col-lg-3 col-xl-4 text-primary fs-6 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.suppliers.email') %>:
      </div> 
      <div class='col-6 align-content-center'><%= @supplier.email %></div>
    </div>
    <div class='row col-12 col-xl-6'>
      <div class='col-6 col-md-4 col-lg-3 col-xl-4 text-primary fs-6 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.suppliers.account_balance') %>:
      </div> 
      <div class='col-6 align-content-center'><%= number_to_currency_ars(@supplier.account_balance) %></div>
    </div>
    <div class='row col-12 col-xl-6'>
      <div class='col-6 col-md-4 col-lg-3 col-xl-6 text-primary fs-6 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.suppliers.notification_threshold') %>:
      </div> 
      <div class='col-6 align-content-center'><%= number_to_currency_ars(@supplier.notification_threshold) %></div>
    </div>
    <div class='row col-12'>
      <div class='col-6 col-md-4 col-lg-3 col-xl-4 text-primary fs-6 fw-bold align-content-center'>
        <%= I18n.t('activerecord.attributes.suppliers.notes') %>:
      </div> 
      <div class='col-6 align-content-center'><%= @supplier.notes %></div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-7 col-lg-7 col-xl-3'>
      <%= link_to I18n.t('helpers.buttons.back'), suppliers_path, class:'btn btn-outline-primary text-decoration-none' %>
    </div>
    <div class='col-2'>
      <%= link_to I18n.t('helpers.buttons.edit'), edit_supplier_path(@supplier), class:'btn btn-primary text-white text-decoration-none' %>
    </div>
  </div>
  
  <h4 class='my-3'><%= I18n.t('views.body.show.history') %></h4>
  
  <div class='table-responsive row col-12 col-lg-8 mx-1'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th><%= I18n.t('activerecord.attributes.outflows.total') %></th>
          <th><%= I18n.t('activerecord.attributes.outflows.paid') %></th>
          <th><%= I18n.t('activerecord.attributes.outflows.items') %></th>
          <th><%= I18n.t('views.body.show.date') %></th>
        </tr>
      </thead>
    
      <tbody>
        <% @transactions.each do |outflow| %>
          <tr>
            <td><%= number_to_currency_ars(outflow.total) %></td>
            <td><%= number_to_currency_ars(outflow.paid) %></td>
            <td><% outflow.items.each do |item| %>
                  <span class='badge bg-primary'><%= item.list %></span>
                <% end %>
            </td>
            <td><%= I18n.l(outflow.created_at, format: :short) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= paginate @transactions %>
  
</div>